/* Header :-*/
.main{
    min-height: 60px;
    margin-bottom: 10px;
    background-color: rgb(160, 128, 156);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
.text{
    font-weight: 700;
    font-size: 20px;
    color: black;
}

/* Footer :-*/

.Footmain{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(160, 128, 156);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.Footmain img{
    width: 60px;
    height: 60px;
    padding: 12px;
}

/* Home Page:- */

.Container1{
    background-color:rgb(200, 238, 200) ;
    
}
.Sliderbox{
    width: 100%;
    justify-content: center;
}
.con1slider{
    width:70%;
    max-height: 600px;
    margin-left: 20px;
}
.con1col{
    padding: 20px;
}


.con1col img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 10px;
    margin:auto;
   background-color:black;
}

.con1col h4{
    color: black;
    text-align: center;
}
.con1col h6{
    color: black;
    text-align: center;
    padding: 10px;
}

/* Details page */

.Detailcon1{
    background-color:rgb(200, 238, 200) ;
    justify-content: center;
}
.DelailSlider{
    width:70%;
    margin: 20px;
    margin: auto;
}
.DetailItem{
    background-color:rgb(160, 128, 156);
    
    position: relative;
    top: 5px;
    bottom: 10px;
    margin: 10px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}
.DetailItem img{
    width: 70%;
    margin: 10px;
    border-radius: 30px;
}
.DetailText{
    color: black;
}
.DetailText h1{
    text-align: center;
    margin: 10px;
}
.DetailText h2{
    padding: 5px;
    padding-top: 0px;
}
.DetailText Button{
    background-color:rgb(200, 238, 200);
    color: black;
    border-width: 0px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    margin: 10px;
}
.delprice{
    color:rgb(72, 72, 72)
    }
    .discountprice{
    color:rgb(72, 72, 72);
    margin-left: 0px;
    }

/* Register page */

.RegisterCon1{
    background-color:rgb(200, 238, 200);
    min-height: 825px;
}
.RegisterForm{
    width: 70%;
    min-height: 600px;
    background-color: rgb(160, 128, 156);
    position: relative;
    margin-top: 45px;
    left: 15%;
    margin-bottom:45px;
    border-radius: 50px;
}
.RegisterForm h1{
    text-align: center;
    margin: 10px;
    position: relative;
    top: 20px;
}
.RegisterForm input{
    width:70%;
    height:55px;
    margin-top: 3%;
    margin-left: 15%;
    padding: 20px;
    font-size: 30px;
    border-width: 0px;
    border-bottom-width:3px ;
    background-color:rgb(160, 128, 156);
}
.RegisterForm Button{
    width: 200px;
    padding: 3px;
    font-size: 25px;
    background-color: rgb(200, 238, 200);
    border-radius: 15px;
    margin-top: 30px;
   /*  margin-left: 39%; */
    border-width: 0px;
    color: black;
}

/* Login Page */

.LoginCon1{
    background-color: rgb(200, 238, 200);
}
.LoginItem{
    background-color: rgb(160, 128, 156);
    margin-bottom: 40px;
    margin-top: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.LoginItem h1{
    text-align: center;
    margin: 10px;
    position: relative;
    top: 20px;
}
.LoginItem div{
    width: 70%;
    height: 450px; ;
    margin-top: 100px;
    margin-left: 15%;
}
.LoginCon1 input{
    width:70%;
    height:55px;
    margin-top: 5%;
    margin-left: 15%;
    padding: 20px;
    font-size: 30px;
    border-width: 0px;
    border-bottom-width:3px ;
    background-color:rgb(160, 128, 156);
}
.LoginItem Button{
    width: 200px;
    padding: 3px;
    font-size: 25px;
    background-color: rgb(200, 238, 200);
    border-radius: 15px;
    position: relative;
    top: 40px;
  /*   left:35%; */
    border-width: 0px;
    color: black;
}

/* About Page */

.AboutCon1{
    background-color:rgb(200, 238, 200);
    /* min-height: 825px; */
}

.AboutDetail{
    width: 70%;
    min-height: 600px;
    background-color: rgb(160, 128, 156);
    position: relative;
    left: 15%;
    top: 50px;
    margin-bottom: 82px;
    border-radius: 50px;
}

.AboutCon1 h1{
    text-align: center;
    margin: 10px;
    position: relative;
    top: 20px;
}

.AboutCon1 h4{
    padding: 10px;
}

/* Order Detail */

.OrderCon1{
    background-color:rgb(200, 238, 200);
    height: 825px;
}

.OrderDetail{
    width: 70%;
    height: 600px;
    background-color: rgb(160, 128, 156);
    position: relative;
    left: 200px;
    top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
}
.OrderDetail h1{
    text-align: center;
    margin: 10px;
    position: relative;
    top: 20px;
}
.OrderDetail input{
    width:70%;
    height:55px;
    margin-left: 15%;
    margin-top: 3%;
    padding: 20px;
    font-size: 30px;
    border-width: 0px;
    border-bottom-width:3px ;
    border-color: rgb(0, 0, 0);
    background-color:rgb(200, 238, 200);
}
.OrderDetail Button{
    width: 200px;
    padding: 3px;
    font-size: 25px;
    background-color: rgb(200, 238, 200);
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 38%;
    border-width: 0px;
    color: black;
}
.cur{
    cursor: pointer;
}